html {
  font-size: 20px;
}

li {
  line-height: 160%;
  padding: 20px 10px;
  cursor: pointer;
}

li:nth-child(even) {
  background-color: #ccc;
}

li:nth-child(odd) {
  background-color: #eee;
}

.enabled {
  font-weight: bold;
}
.disabled {
  color: grey;
}
